#about h5{
    font-size: 1rem;
    padding-top: 3rem;
    color: gray;
}

#about h1{
    font-size: 3rem;
}


.about-icon{
    font-size: 2rem;
}

.about-card {
    background: transparent;
    border-radius: 1rem;
    margin: 1rem;
    transition: 400ms ease;
    border: 2px solid rgba(255, 255, 255, 0.34);

}

.about-card:hover {
    background: rgba(0, 0, 0, 0.562);
    border: 2px solid white;
    cursor: default;
}

.about-card small{
    color: gray;
}