#experience h5 {
    font-size: 1rem;
    padding-top: 4rem;
    color: gray;
}

#experience h1 {
    font-size: 3rem;
}

.experience-card{
    background: rgba(255, 255, 255, 0.137);
    border-radius: 2rem;
    padding: 2rem;
    margin: 1rem;
    border: 2px solid transparent;
    transition: 400ms ease;
}

.experience-card:hover{
    background: rgba(25, 25, 25, 0.451);
    border: 2px solid white;
    cursor: default;
}

.experience-card small{
    color: lightgray;
}


