
nav {
    background-color: rgba(30, 30, 30, 0.345);
    display: block;
    position: fixed;
    bottom: 2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 2rem;
}

nav a {
    color: white;
    margin: 0.2rem;
    background: transparent;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
}

nav a:hover{
    background: rgba(84, 84, 84, 0.228);
}

nav a.active{
    background: whitesmoke;
    color: black;
}